.popup {
  width: 100%;

  box-sizing: border-box;
  padding: 1em;
}

.info {
  // text on same line
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0;
  font-size: 0.95em;
}

.label {
  font-size: 1.1em;
  font-weight: bold;
}

.projectButton {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.2em;
}

.projectListItem {
  padding: 0.25em;
  margin: 0.25em 0;
}